body {
    font-family: Arial, sans-serif;
    background-color: #8e44ad;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #8e44ad;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #8e44ad;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color:  #ffffff;
    color:#8e44ad;
    text-align: center;
    padding: 10px;
    width: 100%;
    clear: both; 
    position: relative;
}

footer ul {
    padding-left: 0;
}
